@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RichMond Group Technical Task</h1>
    <p class="lead">Design and build the "Support Wheel of Fate"</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Project definition</h2>
        <p>
            At one of our companies, all engineers take it in turn to support the business for half a day at a time.
            This is affectinately known as BAU.
            Currently, there is no tool which decides who is doing BAU and when, all rotas are created and maintained by hand.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Engineers</h2>
        <p>Access engineers database.</p>
        <p><a class="btn btn-default" href="/Employeers">Engineers</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>Start getting engineers in your calendar.</p>
        <p><a class="btn btn-default" href="/Calendar">Go Calendar</a></p>
    </div>
</div>