<div class="jumbotron">
    <h1>RichMond Group Technical Task. API</h1>
    <p class="lead">Design and build the "Support Wheel of Fate"</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API definition</h2>
        <p></p>
    </div>
</div>
